.button {
    $border-width: 1px;

    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    background: $color-background-button;
    color: $color-text-button;
    border: $border-button;
    border-radius: $border-radius-button;
    padding: $padding-button;
    font-size: $font-size-button;
    white-space: nowrap;
    min-width: 200px;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $color-background-hover;
        text-decoration: none;
    }

    &:active {
        background: $color-background-active;
    }

    &:disabled {
        background: $color-background-disabled;
    }

    &_small {
        height: $size-l;
        line-height: $button-small - $border-width * 2 - 2px;
    }

    &_accent {
        color: #fff;
        background-color: $color-action;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }
}
