.header {
    padding-top: 21px;
    padding-bottom: 29px;

    &__inner {
        display: flex;
        //flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
        padding-top: 49px;
    }
}

.header-logo {
    width: 113px;

    @media (min-width: $screen-lg) {
        width: 186px;
    }
}

.header-second-menu {
    padding-top: 17px;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 24px;

        // TODO: remove
        cursor: pointer;
    }

    @media (min-width: $screen-lg) {
        padding-top: 0;
    }
}

.header-search {
    flex-grow: 1;
    margin: 0 32px;
}

.header-menu {
    width: 100%;
    order: 1;
    margin-top: 28px;
    margin-bottom: 3px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item_state_active &__link {
        position: relative;
        font-weight: 700;
        color: $color-base-light;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -4px;
            background: $color-selection;
            border-radius: 4px 4px 0 0;
        }
    }

    @media (min-width: $screen-lg) {
        order: 0;
        width: auto;
        margin-top: 32px;

        &__item {
            margin: 0 24px;
        }
    }
}