.payment-selector {
    &__payment-type-list {
        display: flex;
        flex-wrap: wrap;

    }

    &__line {
        border-top: 1px solid $color-soft;
        border-bottom: none;
        margin: 28px 0;
    }

    &__row-wrapper {
        display: flex;
        padding: 14px 0;
        align-items: center;
    }

    &__input_label {
        width: 150px;
        padding-right: 14px;
    }

    &__input {
        width: 150px;
        padding: 0 14px;

        input {
            outline: none;
            font-size: $font-size-m;
            padding: 10px;
            border-radius: $border-radius-button;
            border: 1px solid $color-weak-light;
            width: 100%;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type=number] {
                -moz-appearance: textfield;
            }
        }
    }

    &__input-description {
        margin-top: 4px;
        color: $color-weak;
    }

    &__description {
    }

}

.payment-type {
    flex-grow: 1;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;

    &_selected {
        border-radius: $border-radius-base;
        box-shadow: inset 0 0 0 1px $color-weak-light;
    }

    &:hover {
        cursor: pointer;
    }

    &_visa {
        flex-direction: column;
        justify-content: space-around;
    }

    &__description {

        img {
        }

        &_visa {
            font-size: $font-size-small;

        }

        &_cash {

        }
    }

}
