.product {
    width: 278px;

    &__link {
        position: relative;
        display: flex;
        justify-content: flex-end;
        font-size: $font-size-small;
        line-height: $line-height-small;
        color: $color-base;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $color-base;
            text-decoration: none;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
        object-fit: contain;
    }

    &__info {
        width: 180px;
        max-width: 100%;
        margin-top: 196px;
        padding: 28px 12px 31px 14px;
        background: #fff;
    }

    &__coast {
        position: relative;
        margin-bottom: 10px;
    }

    &__price {
        font-size: 20px;
        line-height: 23px;
        font-family: $font-header;
        letter-spacing: -0.05em;
        color: #000;
        white-space: nowrap;
    }

    &__price-value {
        font-size: 38px;
        line-height: 45px;
    }

    &__points {
        position: absolute;
        top: 4px;
        right: 0;
        font-size: $font-size-small;
        line-height: $line-height-small;
        color: #CECECE;
    }

    &__title {
        font-weight: 700;
    }
}
