.products-slider {
    max-width: 100%;
    padding: 48px 0 26px 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.57) 0%, rgba(255, 255, 255, 0.21) 5.86%, rgba(255, 255, 255, 0.54) 25.16%, rgba(255, 255, 255, 0.828926) 39.59%, rgba(255, 255, 255, 0.96) 49.32%, rgba(255, 255, 255, 0.734265) 68.26%, rgba(255, 255, 255, 0.451983) 84.67%, rgba(255, 255, 255, 0) 96.87%, rgba(255, 255, 255, 0.23) 100%),
                linear-gradient(79.26deg, #E8EAEB 3.63%, #EBE0DB 20.67%, #E8E8E6 39.23%, #E3E9DE 52.86%, #E8EBE5 59.26%, #E2E2E2 69.4%, #DDE0E2 77.96%, #EEEFF0 93.39%);
    overflow: hidden;

    &__gallery {
        width: 195px;
    }

    .swiper-container {
        padding-bottom: 50px;
        overflow: visible;
    }

    .swiper-pagination {
        display: none;
    }

    &__header {
        margin-top: 0;
    }

    &__item {
        width: 195px;
        margin-right: 20px;
    }

    .product {
        width: 100%;
    }

    @media (min-width: $screen-lg) {
        padding: 48px 0 39px 0;

        .swiper-pagination {
            display: block;
        }

        &__gallery {
            width: 100%;
        }

        &__header {
            margin-bottom: 44px;
        }

        &__item {
            width: 274px;
            margin-right: 7px;
        }
    }
}
