.swiper-slide,
.swiper-wrapper {
    box-sizing: border-box;
}

.swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 12px;
    background: #3C4A50;
    opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 12px;
}

.swiper-pagination-bullet-active-main.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
}

.gallery-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1;

    .swiper-pagination {
        position: static;
        margin-top: -8px;
        white-space: nowrap;
    }
}

.gallery__control {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: -8px;
    }

    &_state_disabled,
    &_state_disabled:hover,
    &_state_disabled:active,
    &_state_disabled:focus {
        opacity: .5;
        cursor: default;
    }

    &_prev {
        margin-right: 6px;

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8L6 5V11L2 8Z' fill='%233C4A50'/%3E%3Cpath d='M6 7H13V9H6V7Z' fill='%233C4A50'/%3E%3C/svg%3E%0A");
        }
    }

    &_next {
        margin-left: 6px;

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8L10 11V5L14 8Z' fill='%233C4A50'/%3E%3Cpath d='M3 7H10V9H3V7Z' fill='%233C4A50'/%3E%3C/svg%3E%0A");
        }
    }
}
